<!--Loader-->
<div class="ulLoader" id="loader">
    <ul class="ulLoaderul" id="ulLoaderul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--End Loader-->
@code {

}
