@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-12">
            <div class="white-box">
                <div class="user-bg">
                    <img width="100%" alt="user" src="~/Images/OwnerImages/@Model.OwnerInfo?.UserProfileImageName">
                    <div class="overlay-box">
                        <div class="user-content">
                            <a href="javascript:void(0)">
                                <img src="~/Images/OwnerImages/@Model.OwnerInfo?.UserProfileImageName"
                                     class="thumb-lg img-circle" alt="img">
                            </a>
                            <h4 class="text-white mt-2">@Model.OwnerInfo?.UserName</h4>
                            <h5 class="text-white mt-2">@Model.OwnerInfo?.Email</h5>
                            <h6 class="text-white mt-2">App Count :  @(Model.OwnerInfo?.AppCount??0)</h6>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- Column -->

    </div>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
